@use 'variables' as var;

ng-diagram {
  background: var.$surface-transparent;
  border: solid 1px rgba(255, 255, 255, 0.12);
  border-radius: 8px;
  min-height: 400px;
}

.palette {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.sidebar {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
