<mat-sidenav-container>
  <mat-sidenav #sidenav>
    @defer (hydrate on idle) {
      <lib-menu (navigate)="sidenav.close()"></lib-menu>
    }
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="min-h-dvh flex flex-col gap-4">
      @defer (hydrate on idle) {
        <lib-header class="mt-4" (open)="sidenav.open()"></lib-header>
      }
      <div class="grow mx-2 md:flex md:flex-row md:gap-8 md:mx-16">
        @defer (hydrate on idle) {
          <lib-menu class="max-md:hidden"></lib-menu>
        }
        <div class="divider max-md:hidden"></div>
        <main class="w-full" aria-label="Main content">
          <router-outlet></router-outlet>
        </main>
      </div>
      <div class="footer">
        <p>&copy; {{ date.getFullYear() }} Piotr Sawicki</p>
        <a href="https://pl.freepik.com">Image by kjpargeter on Freepik</a>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
