<ng-container *transloco="let t; prefix: 'LIST'">
  <lib-card>
    <h1 class="text-3xl mb-6">{{ t('header') }}</h1>
    <div class="flex flex-col gap-4 items-center">
      <p class="mb-4">{{ t('component-desc') }}</p>
      <p class="text-lg">{{ t('hello') }}</p>
      <div class="flex flex-col md:flex-row gap-16">
        <div class="psa-list">
          <lib-list
            [data]="store.entities()"
            [itemHeight]="72"
            (fetchMore)="fetchMoreRooms()"
            (selected)="selectRoom($event)"
          >
            <ng-template libListItemTemplate let-dataItem>
              <span class="flex flex-row justify-between items-center">
                <p [ngClass]="dataItem.id === 666 ? 'hell' : ''">{{ t('room-number') }} {{ dataItem.id }}</p>
                @if (dataItem.booked) {
                  <p class="booked">{{ t('reservation') }}</p>
                }
              </span>
            </ng-template>
          </lib-list>
        </div>
        <div class="flex flex-col gap-4 w-72">
          <p>{{ t('selected-room') }}</p>
          @if (store.selectedRoom(); as selected) {
            <lib-card>
              <p class="mb-4">{{ t('room-nr') }} {{ selected.id }}</p>
              <span class="flex flex-row gap-4">
                @if (!selected.booked) {
                  <button matButton (click)="cancel()">{{ t('cancel') }}</button>
                  <button matButton (click)="book()">{{ t('reserve') }}</button>
                } @else {
                  <button matButton (click)="cancel()">{{ t('cancel') }}</button>
                  <button matButton (click)="deleteReservation(selected)">
                    {{ t('delete-reservation') }}
                  </button>
                }
              </span>
            </lib-card>
          }
        </div>
        <div class="flex flex-col gap-4 w-56">
          <p>{{ t('your-reservations') }}</p>
          @if (store.bookedRooms().length > 0) {
            <lib-card>
              @for (room of store.bookedRooms(); track room.id) {
                <div class="flex flex-row items-center">
                  <p class="text-base w-28">{{ t('room-nr') }} {{ room.id }}</p>
                  <button matIconButton aria-label="Delete reservation" (click)="deleteReservation(room)">
                    <mat-icon class="pb-1">delete_outline</mat-icon>
                  </button>
                </div>
              }
            </lib-card>
          }
        </div>
      </div>
    </div>
  </lib-card>
</ng-container>
