<ng-container *transloco="let t; prefix: 'AI_ASSISTANT'">
  <lib-spinner-overlay [show]="geminiService.isLoading()">{{ t('loading') }}</lib-spinner-overlay>
  <lib-card class="h-full">
    <div class="flex flex-col gap-4 h-full min-h-0">
      <h1 class="text-3xl mb-6">{{ t('header') }}</h1>
      <p class="mb-8">{{ t('component-desc') }}</p>
      <p class="md:text-center">{{ t('sound-reminder') }}</p>
      <div class="flex flex-row justify-center grow md:h-0">
        @if (cameraEnabled()) {
          <video class="max-h-full" #video autoPlay muted></video>
        } @else {
          <div class="flex flex-col gap-4 items-center justify-center">
            <mat-icon class="screenRotationSize">videocam_off</mat-icon>
            <p class="text-xl text-center">{{ t('camera-off') }}</p>
          </div>
        }
      </div>
      <div class="flex flex-row justify-center gap-4">
        <button matButton="outlined" [disabled]="!cameraEnabled()" (click)="onCapture()">{{ t('capture') }}</button>
      </div>
    </div>
  </lib-card>
</ng-container>
